.logo-container {
    z-index: 0;
    width: 550px;
    height: 550px;
    position: absolute;
    top: -270px;
    right: 15%;
    bottom: 0;
    left: auto;
    margin: auto;
    opacity: 0;

    svg {
        width: 100%;
        height: auto;
        bottom: 0;
        transform: rotateZ(30deg) !important;
    }
    .solid-logo {
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        left: 0;
        margin: auto;
        width: 100%;
        opacity: 0;
        // transform: rotateZ(30deg);
        z-index: 1;
        }
    } 

    .svg-container {
        stroke: #ffd126;
        stroke-width: 10px;
    }

    

    .logo-wrapper {
        position: relative;
        width: 250px;
        height: 250px
    }

    #outline-logo,
    #original-logo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }








g {
    overflow: hidden;
    visibility: hidden;
}