.experience-page {
  padding-left: 100px;
  padding-right: 50px;
  width: calc(100% - 100px);
  position: initial;
  height: 100%;
  overflow: auto;

  h1.page-title {
  margin-left: 100px;
  margin-top: 100px;
  }

  .experience-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    // flex-wrap: wrap;
    padding-bottom: 100px;
  }

  .experience-card {
    // height: 600px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    flex: 1 1 20%;

    &:hover {
      transform: none;
      transition: opacity 0.3s ease;
    }
  
    .experience-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      border-radius: 10px;
    }

    .experience-content {
      // position: absolute;
      width: 90%;
      padding: 10px 20px;
      background: linear-gradient(
        180deg, rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 1)
      );
      z-index: 2;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      // bottom: -70px;
      left: 250px;
      // height: 500px;
    }

    .experience-title {
      margin-bottom: 0;
      margin-top: 0;
      color: #fff;
      font-size: 24px;
      font-weight: 500;
      line-height: 24px;
    }

    .experience-description {
      font-size: 14px;
      color: #fff;
      margin-bottom: 5px;
      font-weight: 700;
      padding: 20px 30px;
      margin-right: 100px;
      max-width: 80%;
      line-height: 25px;

      opacity: 0;
      transform: translateY(10px);
      transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .btn {
      margin-top: 30px;
      margin-bottom: 10px;
      padding: 0px 23px;
      height: 40px;
      line-height: 34px;
      border: 2px solid #ffd700;
      border-radius: 4px;
      font-size: 14px;
      color: #fff;
      background: transparent;
      text-transform: uppercase;
      font-weight: 700;
      cursor: pointer;
      transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .btn:hover {
      transform: translateY(-3px);
      background: #ffd700;
    }

    &::after {
      content: "";
      background: linear-gradient(180deg,
      #ffd700, #000);
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      opacity: 0;
    }

    &:hover::after {
      opacity: 0.85;
    }

    &:hover .experience-description,
    &:hover .btn {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
